@model IEnumerable<RRHH.Models.Competencia>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DescripcionCompetencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DescripcionCompetencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdCompetencia }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdCompetencia }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdCompetencia })
        </td>
    </tr>
}

</table>
