@model IEnumerable<RRHH.Models.Puesto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NivelRiesgo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinimoSalario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaximoSalario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NivelRiesgo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinimoSalario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaximoSalario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdPuesto }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdPuesto }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdPuesto })
        </td>
    </tr>
}

</table>
